{
  "Idle Delay": 60000,
  "Locked Delay": 600000,
  "Mouse Hide Delay": 500,
  "Cursor": "crosshair",
  "Clock Day Start": "7:00",
  "Clock Night Start": "23:00",
  "Clock Day Color": "white",
  "Clock Night Color": "dark green",
  "Date Font": "Ariel 40",
  "Time Font": "Ariel 100",
  "Boot Screen": "Home",
  "Timed Events": {
    "Idle Update": {
      "trigger": "delay",
      "time": 10,
      "command": {
        "module": "",
        "function": "self.update_idle_timer"
      }
    },
    "Check for Updates": {
      "trigger": "delay",
      "time": 600000,
      "command": {
        "module": "",
        "function": "self.check_for_updates"
      }
    },
    "Refresh Network": {
      "trigger": "delay",
      "time": 300000,
      "command": {
        "module": "network",
        "function": "do_update"
      }
    }
  },
  "Screens": {
    "Home": {
      "width": 800,
      "height": 480,
      "elements": {
        "browser": {
          "type": "Button",
          "config": {
            "image": "enceladus.gif",
            "width": 300,
            "height": 480,
            "command": {
              "module": "common",
              "function": "open_shell"
            }
          },
          "x": 0,
          "y": 0
        },
        "get_map": {
          "type": "Button",
          "config": {
            "image": "grand_tour.gif",
            "width": 300,
            "height": 480,
            "command": {
              "module": "network",
              "function": "get_hostmap"
            }
          },
          "x": 300,
          "y": 0
        },
        "update_map": {
          "type": "Button",
          "config": {
            "image": "launch.gif",
            "width": 200,
            "height": 480,
            "command": {
              "module": "network",
              "function": "do_update"
            }
          },
          "x": 600,
          "y": 0
        }
      }
    }
  }
}
