{
  "Idle Update": 10,
  "Idle Delay": 60000,
  "Locked Delay": 600000,
  "Mouse Hide Delay": 500,
  "Update Delay": 600000,
  "Cursor": "crosshair",
  "Clock Day Start": "7:00",
  "Clock Night Start": "23:00",
  "Clock Day Color": "white",
  "Clock Night Color": "violet",
  "Date Font": "Ariel 40",
  "Time Font": "Ariel 100",
  "HomeScreen Buttons": {
    "lock": {
      "image": "enceladus.gif",
      "function": "master.screen_lock"
    },
    "browser": {
      "image": "grand_tour.gif",
      "function": "common.open_browser"
    },
    "terminal": {
      "image": "launch.gif",
      "function": "common.open_terminal"
    }
  }
}
